/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss (global stylesheet) */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

:root {
  --g-purple: #3c2d83;
  --g-orange: #ee7f54;
  --g-grey: #e8e8e8;
  --orange-pink: #e77278; /* Light pink-orange */
  --orange-red: #ac3457; /* Darker red-orange */
  --dark-purpl: #1e274e; /* Dark purple */
  --brownish-yellow: #edbd8c; /* Brownish yellow */
    --green: #0c807b;
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2c3e50; /* Dark gray */
    --accent-color: #2980b9; /* Light blue */
    --text-color: white; /* White text */
    --active-border-color: #3498db; /* Active state border */
  }


  /* Apply the curly font globally */
// body {
//   font-family: 'Dancing Script', cursive !important;
// }
/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #fff; /* or transparent or any base color */
}

::-webkit-scrollbar-thumb {
  background-color: #ac3457;
  border-radius: 10px;
  border: 3px solid #fff; /* adds space around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ee7f54;
}
