<!-- Page Header -->
<header class="trip-header">
  <h1>Friends</h1>
  <p class="subtitle">Add crew to your trip!</p>
</header>

<hr
  style="
    border: 0;
    height: 5px;
    background: linear-gradient(to right, #ac3457, #1e274e);
    margin: 20px 0;
  "
/>

<div class="container" [@slideInFromTop]>
  <!-- Search Friends -->
  <section class="trip-section search-section">
    <!-- todo: search names like %test% and return more than one result -->
    <h2>Search Friends 🔍</h2>
    <div class="input-group">
      <label class="search-text" for="search">Search by Username</label>
      <div class="search-input-wrapper">
        <div class="input-row">
          <input
            id="search"
            type="text"
            placeholder="Enter username..."
            [(ngModel)]="searchUsername"
          />
          <button class="search-btn" (click)="searchUser()">Search 🔎</button>
        </div>
      </div>
    </div>

    <!-- Dropdown suggestions -->
    <ul class="search-dropdown" *ngIf="foundUser">
      <li>
        <img
          [src]="foundUser.gender === 'M' ? 'm.png' : 'w.png'"
          alt="avatar"
        />
        <div class="friend-info">
          <span class="username">{{ foundUser.username }}</span>
          <span class="email">{{ foundUser.email }}</span>
        </div>
        <button class="add-btn" (click)="addFriend()">Add +</button>
      </li>
    </ul>
  </section>

  <!-- Friends List -->
  <section class="trip-section">
    <!-- TODO: make the table scrollable -->
    <h2>Friends List 📋</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>🖼️ Avatar</th>
          <th>👤 Username</th>
          <th>📧 Email</th>
          <th>🛠️ Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friend of friends">
          <td>{{ friend.id }}</td>
          <td>
            <img
              [src]="friend.gender === 'M' ? 'm.png' : 'w.png'"
              alt="avatar"
              width="40"
            />
          </td>
          <td>{{ friend.username }}</td>
          <td>{{ friend.email }}</td>
          <td>
            <button class="delete-btn" (click)="deleteFriend(friend.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
