<div class="login-wrapper">
  <div class="login-header">
    <h2>🔑 Login to Chat-Mat</h2>
  </div>
  <div class="login-form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">👤 Username:</label>
        <input id="username" formControlName="username" class="form-control" />
      </div>

      <div class="form-group">
        <label for="password">🔒 Password:</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="form-control"
        />
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn-login">
        🚀 Login
      </button>
    </form>

    <p class="signup-text">Don't have an account? 🤔</p>
    <div class="signup-link">
      <a routerLink="/signup">✨ Sign up!</a>
    </div>
  </div>
</div>
