/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss (global stylesheet) */
:root {
  --orange-pink: #e77278; /* Light pink-orange */
  --orange-red: #ac3457; /* Darker red-orange */
  --dark-purpl: #1e274e; /* Dark purple */
  --brownish-yellow: #edbd8c; /* Brownish yellow */
    --green: #0c807b;
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2c3e50; /* Dark gray */
    --accent-color: #2980b9; /* Light blue */
    --text-color: white; /* White text */
    --active-border-color: #3498db; /* Active state border */
  }
  